.App {
  text-align: center;
  min-height: 100vh;
}



.SignUp-page {
  background-color: #cfd9dc;
  min-height: 100vh;
  flex-direction: column;
   color: rgb(42, 36, 36);
}

.input-area {
  border: 1px solid rgb(214, 206, 206);
}

/*.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(151, 17, 17);
  border: 2px solid rgb(25, 25, 27);
  border-radius: 10px;
  background-color: white;
  padding: 100px 30px;
  gap: 15px;
}

.username {
  width: 250px;
  height: 30px;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px;
}

.password {
  width: 250px;
  height: 30px;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px;
}

.login {
  width: 250px;
  height: 30px;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  color: white;
  background-color: rgb(45, 112, 219);
}
 */
